@model int

@{
    ViewBag.Title = "404 Error";
}

<div class="jumbotron alert-danger mt-1 mb-1">
    <div class="card-header">

        <div class="row">
            <div class="col-md-12  margin-tb mt-4">
                <div class="row justify-content-center" style="margin-bottom: 10px;">
                    <p>
                        <h1 class="display-1">ERROR 404</h1>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
<hr />
@if (User.IsInRole("Administrator"))
{
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
}
else
{
    <a asp-action="IndexYourAnimal" class="btn btn-secondary">Back to List</a>
}
